---
import Layout from "@/layouts/Layout.astro"

import { getLangFromUrl, useTranslations } from "@/i18n/utils"
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout
	title="404 Página no encontrada"
	description="Página no encontrada en el portafolio de vasquezluis"
>
	<main class="m-auto grid min-h-screen max-w-4xl place-content-center gap-4">
		<h1 class="text-center text-4xl font-black">{t("404.text")}</h1>

		<img src="https://midu.dev/images/this-is-fine-404.gif" alt="Imagen this is fine" />
	</main>
</Layout>
