---
import ProjectLayout from "../layouts/ProjectLayout.astro"
---

<ProjectLayout
	title="404 Página no encontrada"
	description="Página no encontrada en el portafolio de vasquezluis"
>
	<main class="m-auto grid min-h-screen max-w-4xl place-content-center gap-4">
		<h1 class="text-center text-4xl font-black">404 página no encontrada</h1>

		<img src="https://midu.dev/images/this-is-fine-404.gif" alt="Imagen this is fine" />
	</main>
</ProjectLayout>
