---
import Container from "@/components/Container.astro"

const { t } = Astro.props
---

<Container id="about">
	<section
		class="mb-3 flex flex-col items-center justify-evenly gap-2 rounded-md border border-white/10 bg-white/5 p-2 md:flex-row"
	>
		<div class="flex flex-col gap-y-1">
			<h3 class="text-2xl font-bold text-white">
				{t("about.title")}
			</h3>
			<span class="text-neutral-300">
				{t("about.span1")}
			</span>
			<span class="text-neutral-300">
				{t("about.span2")}
			</span>
			<span class="text-neutral-300">
				{t("about.span3")}
			</span>
		</div>

		<img src="/images/me.webp" alt="me" class="size-60 rounded-md" />
	</section>
</Container>
