---
interface Props {
	className?: string
	id?: string
}

const { className, id } = Astro.props
---

<section id={id} class:list={`mx-auto w-full pb-24 lg:w-[740px] ${className}`}>
	<slot />
</section>
