---
interface Props {
	className?: string
	id?: string
}

const { className, id } = Astro.props
---

<section id={id} class:list={`mx-auto w-full px-1 pb-24 md:px-0 lg:w-[740px] ${className}`}>
	<slot />
</section>
