<section class="mx-auto max-w-screen-lg px-3 py-6" id="estudios">
	<!-- titulo -->
	<div class="mb-6 text-2xl font-bold">
		Estudios
		<span class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
			>previos</span
		>
	</div>

	<!-- timeline -->
	<div class="wrap est-timeline relative overflow-hidden md:p-10">
		<!-- Timeline Item 1 -->
		<div class="left-timeline mb-8 flex w-full items-center justify-between">
			<div class="order-1 w-5/12"></div>
			<div class="z-20 order-1 flex h-8 w-8 items-center rounded-full bg-green-900 shadow-xl">
				<h1 class="mx-auto text-lg font-semibold text-white">1</h1>
			</div>
			<div class="order-1 w-5/12 rounded-lg bg-green-900 px-6 py-4 shadow-xl">
				<h3 class="mb-3 font-bold text-white">UVGA</h3>
				<p class="text-sm leading-snug tracking-wide text-white">
					Licenciatura en Tecnología de Sistemas Informáticos
				</p>
				<p class="text-sm leading-snug tracking-wide text-white">Fecha: Marzo del 2023</p>
			</div>
		</div>

		<!-- Timeline Item 2 -->
		<div class="right-timeline mb-8 flex w-full flex-row-reverse items-center justify-between">
			<div class="order-1 w-5/12"></div>
			<div class="z-20 order-1 flex h-8 w-8 items-center rounded-full bg-green-900 shadow-xl">
				<h1 class="mx-auto text-lg font-semibold text-white">2</h1>
			</div>
			<div class="order-1 w-5/12 rounded-lg bg-green-900 px-6 py-4 shadow-xl">
				<h3 class="mb-3 font-bold text-white">UVGA</h3>
				<p class="text-sm leading-snug tracking-wide text-white">Tecnico en Informática</p>
				<p class="text-sm leading-snug tracking-wide text-white">Fecha: Marzo del 2019</p>
			</div>
		</div>

		<!-- Timeline Item 3 -->
		<div class="left-timeline mb-8 flex w-full items-center justify-between">
			<div class="order-1 w-5/12"></div>
			<div class="z-20 order-1 flex h-8 w-8 items-center rounded-full bg-blue-900 shadow-xl">
				<h1 class="mx-auto text-lg font-semibold text-white">1</h1>
			</div>
			<div class="order-1 w-5/12 rounded-lg bg-blue-900 px-6 py-4 shadow-xl">
				<h3 class="mb-3 font-bold text-white">ECC</h3>
				<p class="text-sm leading-snug tracking-wide text-white">Bachillerato en Computación</p>
				<p class="text-sm leading-snug tracking-wide text-white">Fecha: Diciembre del 2017</p>
			</div>
		</div>

		<!-- Agrega más elementos de la línea de tiempo según sea necesario -->
	</div>
</section>

<style>
	body {
		font-family: "Inter", sans-serif;
	}

	.exp-timeline .left-timeline::before,
	.exp-timeline .right-timeline::before {
		content: "";
		position: absolute;
		height: 100%;
		width: 2px;
		background: linear-gradient(
			to bottom,
			rgb(136 19 55 / var(--tw-bg-opacity)),
			rgb(49 46 129 / var(--tw-bg-opacity)),
			rgb(112 26 117 / var(--tw-bg-opacity))
		); /* Gradiente de color */
		top: 0;
		left: 50%; /* Centro */
		transform: translateX(-50%);
	}

	.est-timeline .left-timeline::before,
	.est-timeline .right-timeline::before {
		content: "";
		position: absolute;
		height: 100%;
		width: 2px;
		background: linear-gradient(
			to bottom,
			rgb(20 83 45 / var(--tw-bg-opacity)),
			rgb(20 83 45 / var(--tw-bg-opacity)),
			rgb(30 58 138 / var(--tw-bg-opacity))
		); /* Gradiente de color */
		top: 0;
		left: 50%; /* Centro */
		transform: translateX(-50%);
	}
</style>
