---
import Container from "@/components/Container.astro"
import ExperienceItem from "@/components/ExperienceItem.astro"

const { t } = Astro.props

const EXPERIENCE = [
	{
		date: `${t("exp2.date")}`,
		title: `${t("exp2.title")}`,
		description: `${t("exp2.desc")}`,
	},
	{
		date: `${t("exp1.date")}`,
		title: `${t("exp1.title")}`,
		company: {
			name: "Prometheus",
			link: "https://innovacion.ai",
		},
		description: `${t("exp1.desc")}`,
		link: "https://innovacion.ai",
	},
]
---

<Container id="experience">
	<h2 class="mb-6 flex items-center gap-x-2 text-2xl font-semibold">
		<img src="/icons/Briefcase.svg" alt="Briedcase icon" class="size-6" />
		{t("exp.title")}
	</h2>

	<ol class="relative ml-3 border-s border-gray-700">
		{
			EXPERIENCE.map((exp) => (
				<li class="mb-10 ms-4">
					<ExperienceItem {...exp} />
				</li>
			))
		}
	</ol>
</Container>
