---
import Briefcase from "./icons/Briefcase.astro"
import Container from "./Container.astro"
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
	{
		date: "Mayo 2023 - mayo 2024",
		title: "Programador Fullstack Junior",
		company: {
			name: "Prometheus",
			link: "https://innovacion.ai",
		},
		description:
			"Responsable de la creación de un generador de imágenes basado en Midjourney y creación de un chatbot a medida usando OpenAI. Mantenimiento de bases de datos. Creación y despliegue de aplicaciones basadas en AWS (EC2, RDS, S3, Lambdas).",
		link: "https://innovacion.ai",
	},
	{
		date: "Febrero 2024 - julio 2023",
		title: "Auxiliatura en programación web",
		company: {
			name: "UVGA",
			link: "https://altiplano.uvg.edu.gt/",
		},
		description:
			"Auxiliaturas en el curso de programación web 1 en la Universidad del Valle de Guatemala, campus Altiplano. Clases sobre HTML, CSS y JavaScript. Maquetación y creación de páginas web responsivas y modernas usando Reactjs y Tailwindcss.",
	},
]
---

<Container id="experience">
	<h2 class="mb-6 flex items-center gap-x-2 text-2xl font-semibold">
		<Briefcase class="size-6" />
		Experiencia Laboral
	</h2>

	<ol class="relative ml-3 border-s border-gray-700">
		{
			EXPERIENCE.map((exp) => (
				<li class="mb-10 ms-4">
					<ExperienceItem {...exp} />
				</li>
			))
		}
	</ol>
</Container>
