---
const { t } = Astro.props
---

<footer class="mx-auto mb-10 w-fit bg-neutral-900/50 shadow backdrop-blur-lg">
	<div class="gap-x-2 p-4 md:flex md:items-center md:justify-between">
		<span class="text-sm font-bold text-[#0891b2] sm:text-center">vasquezluis</span>
		<span class="text-sm text-neutral-500">{t("foot.right")}</span>
	</div>
</footer>
