---
import HeaderMovil from "./HeaderMovil"

const Links = [
	{ href: "#info", label: "Información" },
	{ href: "#portfolio", label: "Portafolio" },
	{ href: "#experience", label: "Experiencia" },
	{ href: "#abilities", label: "Habilidades" },
	{ href: "#study", label: "Estudios" },
]
---

<header class="mx-auto flex w-[1120px] items-center justify-center py-5">
	<nav class="flex gap-x-10 opacity-80">
		{
			Links.map((item) => (
				<a class="block px-4 py-2 text-end hover:bg-gray-700 hover:text-white" href={item.href}>
					{item.label}
				</a>
			))
		}
	</nav>
</header>
