---
const Links = [
	{ href: "#info", label: "Información" },
	{ href: "#experience", label: "Experiencia" },
	{ href: "#projects", label: "Proyectos" },
	{ href: "#technologies", label: "Tecnologías" },
	{ href: "#study", label: "Estudios" },
]
---

<header id="info" class="mx-auto flex w-full items-center justify-center py-5 xl:w-[1120px]">
	<nav
		class="inline-flex items-center justify-center gap-x-2 rounded-full border border-white/10 bg-white/5 px-2 py-1 text-xs md:px-4 md:py-2 md:text-base"
	>
		{
			Links.map((item) => (
				<a href={item.href} class="transition hover:text-[#0891b2]">
					{item.label}
				</a>
			))
		}
	</nav>
</header>
