---
import HeaderMovil from "./HeaderMovil"

const Links = [
	{ href: "#informacion", label: "Información" },
	{ href: "#portafolio", label: "Portafolio" },
	{ href: "#experiencia", label: "Experiencia" },
	{ href: "#habilidades", label: "Habilidades" },
	{ href: "#estudios", label: "Estudios" },
]
---

<header class="flex w-[1120px] items-center justify-between py-3">
	<a href="/"
		><div
			class="flex items-center bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-xl font-bold text-transparent"
		>
			<svg
				class="mr-1 h-10 w-10 stroke-cyan-600"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				stroke-width="2"
				stroke="currentColor"
				fill="none"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<path d="M7 8l-4 4l4 4"></path>
				<path d="M17 8l4 4l-4 4"></path>
				<path d="M14 4l-4 16"></path>
			</svg>
			vasquezluis
		</div></a
	>

	<nav class="flex gap-x-10 opacity-80">
		{
			Links.map((item) => (
				<a class="block px-4 py-2 text-end hover:bg-gray-700 hover:text-white" href={item.href}>
					{item.label}
				</a>
			))
		}
	</nav>
</header>
