---
const Links = [
	{ href: "#info", label: "Información" },
	{ href: "#projects", label: "Proyectos" },
	{ href: "#experience", label: "Experiencia" },
	{ href: "#abilities", label: "Habilidades" },
	{ href: "#study", label: "Estudios" },
]
---

<header class="mx-auto flex w-full items-center justify-center py-5 xl:w-[1120px]">
	<nav class="flex flex-col gap-x-10 opacity-80 md:flex-row">
		{Links.map((item) => <a href={item.href}>{item.label}</a>)}
	</nav>
</header>
