---
import Badge from "./Badge.astro"
import SocialPill from "./SocialPill.astro"

import Logo from "./icons/Logo.astro"
import Container from "./Container.astro"
import Linkedin from "./icons/Linkedin.astro"
import Github from "./icons/Github.astro"
import Mail from "./icons/Mail.astro"
import File from "./icons/File.astro"
---

<main class="px-2">
	<Container className="pb-28 pt-20 md:pb-32 md:pt-44">
		<section class="mb-3 flex items-center gap-x-2">
			<Logo />
			<a
				href="https://www.linkedin.com/in/luis-antonio-vasquez-59093429a/"
				target="_blank"
				rel="noopener"
				class="flex items-center"
			>
				<Badge>Trabajemos juntos</Badge>
			</a>
		</section>

		<h1
			class="flex flex-col gap-x-4 pb-6 text-2xl font-bold text-white md:flex-row md:text-3xl lg:pb-10 lg:text-4xl"
		>
			Hola, soy Luis Vásquez
		</h1>
		<h2 class="max-w-[700px] text-wrap text-lg lg:text-2xl">
			<span>Tengo 1 año de experiencia</span> en el mundo laboral. <span class="text-[#19b4b9]"
				>Desarrollador web.</span
			>
			<span>De Guatemala.</span>
			<span class="opacity-85">Especializado en crear aplicaciones únicas.</span>
		</h2>

		<nav class="mt-8 flex flex-wrap gap-4">
			<SocialPill link="https://www.linkedin.com/in/luis-antonio-vasquez-59093429a/">
				<Linkedin class="size-4 md:size-6" />
				Linkedin
			</SocialPill>
			<SocialPill link="https://github.com/vasquezluis">
				<Github class="size-4 md:size-6" />
				GitHub
			</SocialPill>
			<SocialPill link="/cv-luisvasquez.pdf">
				<File class="size-4 md:size-6" />
				Curriculum
			</SocialPill>
			<SocialPill link="mailto:lvasquez0127@gmail.com">
				<Mail class="size-4 md:size-6" />
				Correo
			</SocialPill>
		</nav>
	</Container>
</main>
