---
import Badge from "./Badge.astro"
import SocialPill from "./SocialPill.astro"

import Logo from "../Icons/Logo.astro"
import Linkedin from "../Icons/Linkedin.astro"
import Github from "../Icons/Github.astro"
import Mail from "../Icons/Mail.astro"
---

<main>
	<section class="mx-auto w-full py-44 lg:w-[740px]">
		<Logo />

		<h1 class="flex flex-row gap-x-2 pb-10 text-4xl font-bold text-white">
			Hola, soy Luis Vásquez<a
				href="https://www.linkedin.com/in/luis-antonio-vasquez-59093429a/"
				target="_blank"
				rel="noopener"
				class="flex items-center justify-center"
			>
				<Badge>Disponible para trabajar</Badge>
			</a>
		</h1>
		<h2 class="text-wrap text-lg opacity-80">
			<span>1 año de experiencia</span> en el mundo laboral. <span
				class="text-yellow-200/90 opacity-80">Desarrollador web.</span
			>
			<span>De Guatemala.</span>
			<span class="opacity-85">Especializado en crear aplicaciones únicas.</span>
		</h2>

		<nav class="mt-8 flex gap-x-4">
			<SocialPill link="https://www.linkedin.com/in/luis-antonio-vasquez-59093429a/">
				<Linkedin class="size-6" />
				Linkedin
			</SocialPill>
			<SocialPill link="https://github.com/vasquezluis">
				<Github class="size-6" />
				GitHub
			</SocialPill>
			<SocialPill link="https://github.com/vasquezluis">
				<Mail class="size-6" />
				lvasquez0127@gmail.com
			</SocialPill>
		</nav>
	</section>
</main>
