<main class="mx-auto max-w-screen-lg px-3 py-6" id="informacion">
	<div class="flex flex-col items-center md:flex-row md:justify-between md:gap-x-24">
		<div>
			<h1 class="text-3xl font-bold">
				Hola, soy
				<span class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
					>Luis Vásquez</span
				>
			</h1>
			<p class="mt-6 text-xl leading-9">
				Soy programador
				<a class="text-cyan-400 hover:underline" href="/"> Fullstack</a>
				que se dedica a crear aplicaciones web de alta calidad. Soy un desarrollador web autodidacta
				que se enfoca en crear experiencias de usuario hermosas y de alto rendimiento.
			</p>
			<div class="mt-3 flex items-center justify-start gap-1">
				<a
					href="https://linkedin.com/in/luis-antonio-vasquez-59093429a"
					target="_blank"
					rel="noreferrer"
				>
					<img
						class="h-12 w-12 hover:translate-y-0.5"
						src="images/linkedin-icon.png"
						alt="linkedin icon"
					/>
				</a>
				<a href="https://www.youtube.com/@luisvasquez6971/videos" target="_blank" rel="noreferrer">
					<img
						class="h-12 w-12 hover:translate-y-0.5"
						src="images/youtube-icon.png"
						alt="youtube icon"
					/>
				</a>
				<a href="https://github.com/vasquezluis" target="_blank" rel="noreferrer">
					<img class="h-9 w-9 hover:translate-y-0.5" src="github-icon.svg" alt="github icon" />
				</a>
			</div>
		</div>
		<div class="shrink-0">
			<img class="h-80 w-64" src="icons/avatar.svg" alt="avatar" />
		</div>
	</div>
</main>
