---
interface Props {
	link: string
}

const { link } = Astro.props
---

<a
	class="inline-flex items-center justify-center gap-x-2 rounded-full border border-white/10 bg-white/5 px-2 py-1 text-base text-neutral-300 transition hover:scale-105 hover:bg-white/10 md:px-4 md:py-2"
	href={link}
	target="_blank"
	rel="noopener noreferrer"
>
	<slot />
</a>
