---
import School from "@/components/icons/School.astro"

interface Props {
	school: string
	date: string
	description: string
}

const { school, date, description } = Astro.props
---

<li class="relative mb-6 sm:mb-0">
	<div class="flex items-center">
		<div
			class="z-10 flex h-6 w-6 shrink-0 items-center justify-center rounded-full ring-0 ring-neutral-800 sm:ring-8"
		>
			<School class="size-6" />
		</div>
		<div class="h-0.5 w-full bg-gray-500 sm:flex"></div>
	</div>

	<div class="mt-3 sm:pe-8">
		<h3 class="text-base font-semibold text-[#0891b2]">{description}</h3>
		<time class="mb-2 block text-sm font-normal leading-none text-neutral-500">{date}</time>
		<p class="text-sm font-normal text-neutral-300">
			{school}
		</p>
	</div>
</li>
