---
import Container from "@/components/Container.astro"
import Settings from "@/components/icons/Settings.astro"
import NextjsIcon from "@/components/icons/Nextjs.astro"
import FirebaseIcon from "@/components/icons/Firebase.astro"
import TypescriptIcon from "@/components/icons/Typescript.astro"
import ReactIcon from "@/components/icons/React.astro"
import TailwindcssIcon from "@/components/icons/Tailwindcss.astro"
import MySQLIcon from "@/components/icons/MySQL.astro"
import MoodleIcon from "@/components/icons/Moodle.astro"
import Technology from "@/components/Technology.astro"
import JavascriptIcon from "@/components/icons/Javascript.astro"
import NodejsIcon from "@/components/icons/Nodejs.astro"
import PythonIcon from "@/components/icons/Python.astro"
import LinuxIcon from "@/components/icons/Linux.astro"
import DockerIcon from "@/components/icons/Docker.astro"
import HtmlIcon from "@/components/icons/Html.astro"
import CssIcon from "@/components/icons/Css.astro"
import DjangoIcon from "@/components/icons/Django.astro"
import AwsIcon from "@/components/icons/Aws.astro"
import WordpressIcon from "@/components/icons/Wordpress.astro"

const { t } = Astro.props

const TECHS = [
	{
		title: "Nextjs",
		Icon: NextjsIcon,
		styles: "border border-neutral-500 bg-neutral-500/40 text-neutral-200",
	},
	{
		title: "Node.js",
		Icon: NodejsIcon,
		styles: "border border-emerald-500 bg-emerald-500/40 text-neutral-200",
	},
	{
		title: "ReactJS",
		Icon: ReactIcon,
		styles: "border border-sky-500 bg-sky-500/40 text-neutral-200",
	},
	{
		title: "HTML",
		Icon: HtmlIcon,
		styles: "border border-orange-500 bg-orange-500/40 text-neutral-200",
	},
	{
		title: "MySQL",
		Icon: MySQLIcon,
		styles: "border border-neutral-200/50 bg-gray-600/40 text-neutral-200",
	},
	{
		title: "Tailwind CSS",
		Icon: TailwindcssIcon,
		styles: "border border-blue-900 bg-blue-900/40 text-neutral-200",
	},
	{
		title: "Firebase",
		Icon: FirebaseIcon,
		styles: "border border-yellow-500 bg-yellow-500/40 text-neutral-200",
	},
	{
		title: "Moodle",
		Icon: MoodleIcon,
		styles: "border border-yellow-900 bg-yellow-900/40 text-neutral-200",
	},
	{
		title: "TypeScript",
		Icon: TypescriptIcon,
		styles: "border border-blue-800 bg-blue-800/40 text-neutral-200",
	},
	{
		title: "Django",
		Icon: DjangoIcon,
		styles: "border border-emerald-500 bg-emerald-500/40 text-neutral-200",
	},
	{
		title: "AWS",
		Icon: AwsIcon,
		styles: "border border-orange-500 bg-yellow-900 text-neutral-200",
	},
	{
		title: "Linux",
		Icon: LinuxIcon,
		styles: "border border-neutral-500 bg-neutral-500/40 text-neutral-200",
	},
	{
		title: "Docker",
		Icon: DockerIcon,
		styles: "border border-blue-500 bg-blue-900/40 text-neutral-200",
	},
	{
		title: "Python",
		Icon: PythonIcon,
		styles: "border border-neutral-200/50 bg-gray-600/40 text-neutral-200",
	},
	{
		title: "JavaScript",
		Icon: JavascriptIcon,
		styles: "border border-yellow-500 bg-yellow-500/40 text-neutral-200",
	},
	{
		title: "CSS",
		Icon: CssIcon,
		styles: "border border-sky-500 bg-sky-500/40 text-neutral-200",
	},
	{
		title: "WordPress",
		Icon: WordpressIcon,
		styles: "border border-blue-500 bg-blue-900/40 text-neutral-200",
	},
]
---

<Container id="technologies">
	<h2 class="mb-6 flex items-center gap-x-3 text-2xl font-semibold">
		<Settings class="size-6" />
		{t("techs.title")}
	</h2>

	<div class="grid grid-cols-3 gap-4 md:grid-cols-4 lg:grid-cols-6">
		{
			TECHS.map(({ title, Icon, styles }) => (
				<Technology title={title} Icon={Icon} styles={styles} />
			))
		}
	</div>
</Container>
