---
import Container from "@/components/Container.astro"
import Technology from "@/components/Technology.astro"

const { t } = Astro.props

const TECHS = [
	{
		title: "HTML",
		icon: "/icons/techs/Html.svg",
		styles: "border border-orange-500 bg-orange-500/40 text-neutral-200",
	},
	{
		title: "CSS",
		icon: "/icons/techs/Css.svg",
		styles: "border border-sky-500 bg-sky-500/40 text-neutral-200",
	},
	{
		title: "JavaScript",
		icon: "/icons/techs/Javascript.svg",
		styles: "border border-yellow-500 bg-yellow-500/40 text-neutral-200",
	},
	{
		title: "TypeScript",
		icon: "/icons/techs/Typescript.svg",
		styles: "border border-blue-800 bg-blue-800/40 text-neutral-200",
	},
	{
		title: "Node.js",
		icon: "/icons/techs/Nodejs.svg",
		styles: "border border-emerald-500 bg-emerald-500/40 text-neutral-200",
	},
	{
		title: "ReactJS",
		icon: "/icons/techs/React.svg",
		styles: "border border-sky-500 bg-sky-500/40 text-neutral-200",
	},
	{
		title: "Nextjs",
		icon: "/icons/techs/Nextjs.svg",
		styles: "border border-neutral-500 bg-neutral-500/40 text-neutral-200",
	},
	{
		title: "MySQL",
		icon: "/icons/techs/MySQL.svg",
		styles: "border border-neutral-200/50 bg-gray-600/40 text-neutral-200",
	},
	{
		title: "Firebase",
		icon: "/icons/techs/Firebase.svg",
		styles: "border border-yellow-500 bg-yellow-500/40 text-neutral-200",
	},
	{
		title: "Git",
		icon: "/icons/techs/Git.svg",
		styles: "border border-neutral-200/50 bg-gray-600/40 text-neutral-200",
	},
	{
		title: "Linux",
		icon: "/icons/techs/Linux.svg",
		styles: "border border-neutral-500 bg-neutral-500/40 text-neutral-200",
	},
	{
		title: "Docker",
		icon: "/icons/techs/Docker.svg",
		styles: "border border-blue-500 bg-blue-900/40 text-neutral-200",
	},
	{
		title: "AWS",
		icon: "/icons/techs/Aws.svg",
		styles: "border border-orange-500 bg-yellow-900 text-neutral-200",
	},
	{
		title: "Python",
		icon: "/icons/techs/Python.svg",
		styles: "border border-neutral-200/50 bg-gray-600/40 text-neutral-200",
	},
	{
		title: "WordPress",
		icon: "/icons/techs/Wordpress.svg",
		styles: "border border-blue-500 bg-blue-900/40 text-neutral-200",
	},
]
---

<Container id="technologies">
	<h2 class="mb-6 flex items-center gap-x-3 text-2xl font-semibold">
		<img src="/icons/Settings.svg" alt="Settings icon" class="size-6" />
		{t("techs.title")}
	</h2>

	<div class="grid grid-cols-3 gap-4 md:grid-cols-4 lg:grid-cols-6">
		{
			TECHS.map(({ title, icon, styles }) => (
				<Technology title={title} icon={icon} styles={styles} />
			))
		}
	</div>
</Container>
